* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
}

.inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.outer {
    padding: 0 max(4vmin,20px);
    position: relative;
}
