.site-about-header {
    display: column;
}

.site-about-header h2 {
    text-align: left;
    font-size: 23px;
    font-weight: 400;
}

.site-about-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.site-about-body {
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
}
