/* font blog.jihoon.me */

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Bold') format('ttf'); 
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-ExtraBold') format('ttf'); 
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Light') format('ttf'); 
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Medium') format('ttf'); 
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-Regular') format('ttf'); 
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/OpenSans-SemiBold') format('ttf'); 
}

body {
    font-family: 'Open Sans', sans-serif;
}
