* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
}

.wrapper {
    padding-top: 68.2px; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.25em;
    margin-block-start: 1.45em;
    margin-block-end: 1.45em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ol {
    list-style: decimal;
    margin: 0 0 1em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 12px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    color: black;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}

blockquote {
    color: #373953;
    border-left: 5px solid #333;
    padding: 0 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 5px;
}

.inner {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.outer {
    padding: 0 max(4vmin,20px);
    position: relative;
}

.site-main {
    z-index: 100;
    flex-grow: 1;
}
