.DocSearch-Button-container {
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.DocSearch-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: auto;
    height: 40px;
    background: transparent;
}

.DocSearch-Button-Key, .DocSearch-Commands-Key {
    background: transparent;
    box-shadow: none;
    border-right: 1px;
    border-left: none;
}

.DocSearch-Button-Key {
    display: none;
}

.DocSearch-Commands-Key {
    height: auto;
}


.DocSearch-Button .DocSearch-Button-Key:first-child {
    font-size: 1px;
    letter-spacing: -1px;
}

.DocSearch-Button:active, .DocSearch-Button:focus, .DocSearch-Button:hover {
    transition: 0.2s ease-in-out;
    color: darkgray;
    box-shadow:  none;
    outline: none;
}

.DocSearch {
    --docsearch-primary-color: #000;
    --docsearch-highlight-color: var(--docsearch-primary-color);
    --docsearch-text-color: #71717a;
    --docsearch-modal-background: #f4f4f5;
    --docsearch-searchbox-shadow: 0 0 0 2px var(--docsearch-primary-color);
    --docsearch-searchbox-background: var(--color-transparent);
    --docsearch-hit-color: var(--color-gray-700);
    --docsearch-hit-shadow: none;
    --docsearch-logo-color: var(--docsearch-text-color);
    --docsearch-muted-color: var(--color-gray-500);
    --docsearch-container-background: rgb(244 244 245/55%);
}

.DocSearch-Dropdown {
    padding: 5px var(--docsearch-spacing);
    
}

.DocSearch-Hit-source, .DocSearch-Hit-title {
    text-align: left;
}

.DocSearch-Hit-path {
    display: none;
}

.DocSearch-Button-Placeholder {
    font-size: 1rem;
    padding: 0 12px 0 6px;
    transition: 0.15s ease-out;
}

@media(max-width: 768px) {
    .blog-icon-btn {
        width: 32px;
    }
}
