.blog-head {
    background-color: #fff;
    color: black;
    height: 88px;
    font-size: 1.6rem;
    line-height: 1.3em;
}

.blog-head a {
    text-decoration: none;
}

.blog-head-inner {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    -moz-column-gap: 40px;
    column-gap: 40px;
    display: grid;
    grid-auto-flow: row dense;
    height: 100%;
}

.blog-head-brand {
    align-items: center;
    display: flex;
    height: 40px;
    word-break: break-all;
}

.blog-head-logo {
    display: block;
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: -.02em;
    white-space: nowrap;
}

.blog-head-logo img {
    max-height: 40px;
}

.blog-search {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    outline: none;
    padding: 0;
    width: 32px;
}

.blog-menu {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    outline: none;
    padding: 0;
    width: 32px;
}

.blog-head-menu {
    align-items: center;
    display: flex;
    font-weight: 500;
    margin-top: 1px;
}

.blog-head-menu .nav {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-head-action {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    list-style: none;
    text-align: right;
}
