.post-inner {
    position: relative;
    display: grid;
    margin: 0 auto;
    max-width: 1500px;
}

@media (min-width: 768px) {
    .post-inner {
        grid-template-columns: 70fr 30fr;
    }
}


@media (min-width: 768px) {
    .post-section {
        padding-right: 40px;
    }
}

.post-title {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #8b95a1;
    margin-bottom: 20px;
}

.post-section-list {
    list-style: none;
}

.post-section-list li {
    padding-bottom: 5%;
}

.post-image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.post-image-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    transform: translateZ(0);
    border: 1px solid rgba(2, 32, 71, 0.05);
    transition: 0.2s ease-in-out;
}

.post-image-inner img {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.post-link, .profile-link {
    display: block;
    text-decoration: none;
}

.post-link:hover .post-image-inner {
    box-shadow: 0 0 20px rgba(39,44,49,0.12), 0 3px 16px rgba(39, 44, 49,0.09);
    transition: all 0.2s ease;
    transform: translate3D(0, -15px, 0);
}

.post-link:hover .post-item-title {
    color: red;
    transition: all 0.2s ease;
}

.post-feed-tag {
    display: flex;
    color: #898989;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-item-title {
    display: flex;
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.post-item-description {
    display: flex;
    color: #495968;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-item-time {
    display: flex;
    color: #898989;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.post-sidebar {
    position: sticky;
    overflow-y: auto;
    height: calc(100vh - 60px);
}

.profile-image {
    width: 50%;
    height: auto;
    min-height: 1px;
    margin-bottom: 35px;
    border-radius: 50%;
}

.profile-inner {
    border-radius: 18px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    background: linear-gradient(209.21deg, rgb(29, 32, 38) 13.57%, rgb(47, 35, 84) 98.38%);
    padding: 40px 24px 60px;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.profile-style h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 15px;
}

.profile-style p {
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    color: rgba(255,255,255,0.7);
}

.profile-link:hover .profile-inner {
    box-shadow: 0 0 20px rgba(39,44,49,0.12), 0 3px 16px rgba(39, 44, 49,0.09);
    transition: all 0.2s ease;
    transform: translate3D(0, -15px, 0);
}
