.nextAndPreview {
    display: flex;
    margin-top: 2.8rem;
    margin-bottom: 1rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.preview-container,
.next-container {
    min-width: 0px;
    flex: 1 1 0%;
}


.preview-link {
    cursor: pointer;
    border-radius: 10px;
    background: #f6f8fa;
    width: 100%;
    height: 100%;
    padding: 1rem;
    min-height: 4.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.preview-textdir {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
    min-width: 0px;
}


.next-link {
    cursor: pointer;
    background: #f6f8fa;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 1rem;
    min-height: 4.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: row-reverse;
}

.next-textdir {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
    min-width: 0px;
}


.next-textdir h3,
.next-textdir p,
.preview-textdir h3,
.preview-textdir p {
    margin: 5px;
}

.next-textdir h3,
.next-textdir p {
    text-align: right;
}

.preview-textdir h3,
.preview-textdir p {
    text-align: left;
}

.next-textdir p,
.preview-textdir p {
    color: #A1A1A1;
}

@media (max-width: 768px) {
    .nextAndPreview {
        flex-direction: column-reverse;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .preview-container,
    .next-container {
        margin-top: 1rem;
    }
}

@media (min-width: 769px) {
    .preview-container + .next-container {
        margin-left: 2rem;
    }
}

/*Utterance*/

.utterances {
    border-radius: 10px;
    background: #f6f8fa;
    max-width: 700px;
}

.utterances-frame {
    padding-left: 1rem;
    padding-right: 1rem;
}
