.site-post-head {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    height: calc(100vh - 50vh);
    background: #fff center center;
    background-size: cover;
    transition: all 0.2s ease;
    margin-bottom: 50px;
}

.site-post-head-image {
    width: auto;
    height: 100%;
    background: transparent no-repeat center center;
    background-size: cover;
}

.site-post-head-title {
    position: relative;
    inset: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    margin-bottom: 50px;
}

.date-divider {
    display: inline-block;
    margin: 0 6px 1px;
}

.site-post-head-title a {
    color: #999;
    text-decoration: none;
}

.site-post-body {
    margin: 0 auto;
    max-width: 700px;
    text-align: left;
    padding: 0 16px 0;
    color: #444;
    line-height: 1.8em;
}
pre {
    margin-bottom: 1.5em;
    background-color: rgba(34, 37, 41, 1);
    padding: 16px 0;
    border-radius: 8px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color:  rgba(215, 215, 215, 1);
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: rgba(253, 71, 88, 1);
}

pre code .type {
    color: rgba(255, 219, 146, 1);
}

pre code .call {
    color: rgba(158, 241, 221, 1);
}

pre code .property {
    color: rgba(111, 185, 87, 1);
}

pre code .number {
    color: rgba(247, 247, 255, 1);
}

pre code .string {
    color: rgba(253, 244, 255, 1);
}

pre code .comment {
    color: rgba(107, 102, 107, 1);
}

pre code .dotAccess {
    color: rgba(158, 241, 221, 1);
}

pre code .preprocessing {
    color: #C77C49;
}
