.tagDetail-title h2 {
    font-size: 23px;
    font-weight: 400;
    display: flex;
}

.tagDetail-title p {
    display: flex;
    color: #999;
    font-size: 16px;
    font-weight: 200;
}

.post-tagDetail-feed {
    position: relative;
}

.post-article {
    margin-top: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.post-article-link {
    display: flex;
    text-decoration: none;
}

.post-article-image {
    margin-right: 30px;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.post-article-image img {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.post-article-content {
    flex-direction: column;
    text-align: left;
}

.post-article-content-title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #000000;
    transition: 0.2s ease-in-out;
}

.post-article-content-description {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #495968;
}

.post-article-content-time {
    font-size: 15px;
    font-weight: 400;
    color: #898989
}

.post-article-link:hover .post-article-image {
    box-shadow: 0 0 20px rgba(39,44,49,0.12), 0 3px 16px rgba(39, 44, 49,0.09);
    transition: all 0.2s ease;
    transform: translate3D(0, -15px, 0);
}

.post-article-link:hover .post-article-content-title {
    color: darkgray;
    transition: all 0.2s ease;
}

@media (max-width: 592px) {
    .post-article-link {
        display: block;
    }
    .post-article-image img {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
    .post-article-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
