/*Header*/
.nav {
    display: inline-flex;
    list-style: none;
}

.nav li a {
    display: block;
    padding: 10px 12px;
    color: #15171a;
    opacity: .8;
}

.nav li :hover{
    background-color: #EBEBEB;
    border-radius: 10px;
}
