.blog-head {
    padding-top: min(24px, 3.6vmin);
    padding-bottom: min(24px, 3.6vmin);
    font-size: 20px;
    line-height: 1.3em;
    background-color: #fff;
}

.has-cover:not(.home-template) .blog-head {
    background-color: #fff;
    color: #999;
}

.home-template.has-cover .blog-head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    background-color: #fff;
}

.header-bc {
    border-bottom: 1px solid #EDEDED;
}

.blog-head a {
    text-decoration: none;
}

.blog-head-inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto 1fr;
    grid-auto-flow: row dense;
}

.blog-head-brand {
    display: flex;
    align-items: center;
    height: 40px;
    max-width: 400px;
    word-break: break-all;
}

.blog-head-logo {
    display: block;
    font-weight: 800;
    font-size: 2.6rem;
    letter-spacing: -0.02em;
    color: inherit;
}

.blog-head-logo.no-image {
    margin-top: -2px;
}

.has-cover .blog-head-logo {
    color: #fff;
}

.no-logo .blog-head-logo {
    display: none;
}

.blog-head-logo img {
    max-height: 30px;
}

.blog-head-brand-wrapper {
    display: flex;
    align-items: center;
}

.blog-head-menu {
    display: flex;
    align-items: center;
    margin-top: 1px;
    font-weight: 500;
}

.no-logo .blog-head-menu {
    margin-left: -40px;
}

.blog-head-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    list-style: none;
    font-size: 15px;
    color: #2E2E2E;
    margin: 0;
    padding: 0;
}

.blog-head-menu .nav li {
    margin: 0;
    padding: 0;
}

.blog-head-menu .nav a {
    display: inline-block;
    line-height: 1.7;
    color: inherit;
    padding: 8px;
    border-radius: 10px;
}


.blog-head-menu .nav a:hover {
    opacity: 0.5;
    background: #EDEDED;
}

.blog-head-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    list-style: none;
    text-align: right;
}

.blog-search {
/*    display: inline-flex;*/
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #000;
}

.blog-search:hover {
    opacity: 0.9;
}

@media (max-width: 991px) {
    .blog-head-actions .blog-search {
        display: none;
    }
}

@media (min-width: 992px) {
    .blog-head-brand .blog-search {
        display: none;
    }
}

.blog-head-brand .blog-search {
    margin-right: 8px;
}

.blog-head-actions .blog-search {
    margin-right: -10px;
}

.blog-menu {
    position: relative;
    display: none;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: black;
}

@media (max-width: 991px) {
    .blog-menu {
        display: inline-block;
    }
    #blog-head {
        overflow: hidden;
    }
    #blog-head .blog-head-inner {
        height: 100%;
        grid-template-columns: 1fr;
    }
    #blog-head .blog-head-brand {
        position: relative;
        z-index: 10;
        grid-column-start: auto;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }
    .no-logo #blog-head .blog-head-brand {
        justify-content: flex-end;
    }
    #blog-head .blog-head-menu {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 10vh 0;
        font-weight: 300;
        font-size: 3.6rem;
        line-height: 1.1em;
    }
    #blog-head .blog-head-menu .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        font-weight: 500;
    }
    #blog-head .blog-head-actions {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px 0 32px;
        text-align: left;
    }
    #blog-head .blog-head-actions,
    #blog-head .blog-head-menu {
        display: none;
    }
    .blog-head-open {
        z-index: 1999;
        overflow: hidden;
        height: 100vh;
    }
    .blog-head-open #blog-head {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3999999;
        overflow-y: scroll;
    }
    .blog-head-open #blog-head .blog-head-inner {
        grid-template-rows: auto 1fr auto;
    }
    .blog-head-open #blog-head .blog-head-actions,
    .blog-head-open #blog-head .blog-head-menu {
        display: flex;
    }
}

.has-cover.blog-head-open .blog-head {
    background: #fff;
}
