/*Header*/
.site-header {
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    height: auto;
    background color: #fff;
}

.site-header-bottom-bg-transparent {
    background: transparent;
}

.site-header-bottom-bg-border {
    background-color: white;
}

.site-header-dark {
    filter: invert(1);
}

.site-header-bottom-border {
    border-bottom: 1px solid #EDEDED;
}

.nav {
    display: inline-flex;
    list-style: none;
}

.nav li a {
    display: block;
    padding: 10px 12px;
    color: #15171a;
    opacity: .8;
}

.nav li :hover{
    background-color: #EBEBEB;
    border-radius: 10px;
}
