.tagList-style {
    display: relative;
}

.tagList-style h1 {
    display: flex;
    padding-bottom: 5px;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

.tagList-style p {
    display: flex;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #999;
    font-weight: 200;
    font-size: 16px;
}

.tagList-tag {
    padding-top: 20px;
}
