.debate-wrapper {
    padding: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.debate-title {
    text-align: left;
    margin: 0 auto;
}

.debate-title-text {
    font-size: 20px;
    padding-bottom: 5px;
}

.debate-post-date {
    color: #999;
    font-size: 15px;
}

.debate-post {
    border-bottom: 1px solid #EDEDED;
}
