.post-tags {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tag-all-category {
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    padding: 10px;
    margin: 5px;
    color: black;
    background: white;
    border-radius: 10px;
    border: 1px solid #000;
}

.tag-all-category:hover {
    color: white;
    background: black;
}
