/*Footer*/

.site-footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background: #2E2E2E;
}

.footer-logo {
    max-height: 40px;
    filter: invert(1);
}

.footer-center {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-center p {
    color: #fff;
}


.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}
