/*Header*/
.site-header {
    z-index: 50;
    top: 0;
    width: 100%;
    height: auto;
    background color: #fff;
    transition: background-color .9s ease;
    border-bottom: 1px solid #EDEDED;
}

.nav {
    display: inline-flex;
    list-style: none;
}

.nav li a {
    display: block;
    padding: 10px 12px;
    color: #15171a;
    opacity: .8;
}

.nav li :hover{
    background-color: #EBEBEB;
    border-radius: 10px;
}
