/*HomeHeader*/
.site-homeheader-content {
    padding: 3vw 1.5vw;
    min-height:200px;
    max-height: 450px;
}

.site-hometitle {
    z-index: 10;
    margin: 0;
    padding: 0;
    font-size: 3.0rem;
    font-weight: 700;
}
.site-homedescription {
    z-index: 10;
    margin: 0;
    padding: 5px 0;
    font-weight: 300;
    letter-spacing: .5px;
    opacity: .8;
}
.site-homenav {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    height: auto;
    font-size: 1.2rem;
    padding: 0 10%;
}
.site-homenav-left {
    align-items: center;
    margin-right: 10px;
    display: flex;
    letter-spacing: .4px;
}
.homenav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.homenav li , .homenav li a{
    display: block;
    margin: 0;
}
.homenav li {
    padding: 0;
    text-transform: uppercase;
}

.homenav li a {
    padding: 10px 12px;
    color: #15171a;
    opacity: .8;
    text-decoration: none;
}
.homenav li :hover{
    background-color: #EBEBEB;
    border-radius: 10px;
}
.site-homenav-right, .social-links {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
.site-homenav-right {
    height: 40px;
}
.menu-bar {
    display: none;
    position: flex;
    padding: 10px;
    color: black;
}
.socialmedia-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    color: black;
    opacity: .8;
}


@media screen and (max-width: 768px) {
    
    .site-homenav {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .homenav {
        display: none;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    
    .homenav li {
        width: 100%;
        text-align: start;
    }
    
    .social-links {
        display: none;
        justify-content: center;
        width: 100%;
    }
    
    .menu-bar {
        display: block;
    }
    
    .homenav.active,
    .social-links.active
    {
        display: flex;
    }
}
