/*Post*/

.post-header {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 200px);
    margin-bottom: 120px;
}
.post-header-div {
    position: relative;
    width: 100vw;
    height: 100%;
}
.post-header-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.post-header-title {
    position: absolute;
    padding: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.post-body {
    margin: 0 auto;
    max-width: 700px;
    text-align: left;
    padding: 0 16px 0;
    color: #444;
    line-height: 1.8em;
}

pre {
    margin-bottom: 1.5em;
    background-color: rgba(34, 37, 41, 1);
    padding: 16px 0;
    border-radius: 8px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color:  rgba(215, 215, 215, 1);
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: rgba(252, 95, 193, 1);
}

pre code .type {
    color: rgba(158, 241, 221, 1);
}

pre code .call {
    color: rgba(158, 241, 221, 1);
}

pre code .property {
    color: #21ab9d;
}

pre code .number {
    color: rgba(200, 184, 106, 1);
}

pre code .string {
    color: rgba(250, 106, 102, 1);
}

pre code .comment {
    color: #6b8a94;
}

pre code .dotAccess {
    color: rgba(158, 241, 221, 1);
}

pre code .preprocessing {
    color: #b68a00;
}
