/* Posts */
.main-container {
    padding: 5rem; 
}

.card-Image {
    max-width: 100%;
    display: block;
    overflow: hidden;
    filter: contrast(70%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.posts-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    place-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.125);
}

.card a {
    height: 100%;
}

.content {
    bottom: 0;
    padding: 1rem;
}

.card-item-title {
    color: black;
    display: flex;
    font-weight: 500;
    padding-top: 5px;
    text-align: left;
    font-size: 25px
}

.card-item-description {
    padding-top: 20px;
    display: flex;
    margin: 0 0 40px;
    font-weight: 300;
    color: #999;
    text-align: left;
}

.card-item-description {
    padding-top: 20px;
    display: flex;
    font-weight: 300;
    color: #999;
    text-align: left;
}

.card-item-date {
    display: flex;
    padding-top: 10px;
    font-weight: 200;
    font-size: 10px;
    color: #000;
}

.post-category {
    font-size: 13px;
    font-weight: 200;
    padding: 0;
    margin: 2px;
    color: black;
    text-align: left;
}
