@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sans;
        display: block;
    }
    body {
        @apply bg-blog-c-bg;
        width: 100%;
        min-height: 100vh;
        line-height: 24px;
        font-size: 16px;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    h3 {
        display: block;
        font-size: 1.25em;
        margin-block-start: 1.45em;
        margin-block-end: 1.45em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    h4 {
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    ol {
        list-style: decimal;
        margin: 0 1em 0 1em;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 1em;
        margin-inline-end: 0px;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    img, 
    video {
      max-width: 100%;
      height: auto;
      margin: 0.25rem 0;
      border-radius: 10px;
    }
    iframe {
      @apply h-52 sm:h-80 md:h-96;
      width: 100%;
    }

    a {
        color: #5364FF;
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    div {
        display: block;
    }

    blockquote {
        color: #373953;
        border-left: 5px solid #333;
        padding: 0 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 5px;
    }
    
    code {
        margin: 0;
        background-color: #6E768166;
        padding: 0.2em 0.4em;
        font-size: 95%;
        white-space: break-spaces;
        border-radius: 6px;
        line-break: anywhere;
    }
    
    pre {
        margin-bottom: 1.5em;
        background-color: rgba(34, 37, 41, 1);
        padding: 16px 0;
        border-radius: 8px;
    }
    
    pre code {
        font-family: monospace;
        display: block;
        padding: 0 20px;
        color:  rgba(215, 215, 215, 1);
        background-color: rgba(34, 37, 41, 1);
        line-height: 1.4em;
        font-size: 0.95em;
        overflow-x: auto;
        white-space: pre;
        -webkit-overflow-scrolling: touch;
    }

    pre code .keyword {
        color: rgba(253, 71, 88, 1);
    }

    pre code .type {
        color: rgba(255, 219, 146, 1);
    }

    pre code .call {
        color: rgba(158, 241, 221, 1);
    }

    pre code .property {
        color: rgba(111, 185, 87, 1);
    }

    pre code .number {
        color: rgba(247, 247, 255, 1);
    }

    pre code .string {
        color: rgba(253, 244, 255, 1);
    }

    pre code .comment {
        color: rgba(107, 102, 107, 1);
    }

    pre code .dotAccess {
        color: rgba(158, 241, 221, 1);
    }

    pre code .preprocessing {
        color: #C77C49;
    }

    .blogMobileNav {
        height: 100vh;
    }
    
    .utterances {
        border-radius: 10px;
        background: #f6f8fa;
        max-width: 768px;
    }

    .utterances-frame {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .component {
        @apply text-center w-[85%] my-6 md:my-8 lg:my-11 mx-auto overflow-auto lg:w-[980px];
    }
    
    .blogNavBarMenuLink {
        @apply text-blog-c-nav-text hover:text-blog-c-brand-blue;
        transition: color .25s;
        white-space: nowrap;
    }

    .blogPagination {
        @apply rounded-full bg-blog-c-pagination-button hover:bg-blog-c-pagination-button-hover;
        transition: 250ms background-color linear,250ms color linear,250ms opacity linear;
    }

    .blogDocsearch .DocSearch-Button {
        background: transparent;
    }

    .blogDocsearch .DocSearch {
        --docsearch-primary-color: '#5364FF';
        --docsearch-highlight-color: '#5364FF';
        --docsearch-text-color: '#213547';
        --docsearch-muted-color: '#000000';
        --docsearch-searchbox-shadow: none;
        --docsearch-searchbox-focus-background: transparent;
        --docsearch-key-gradient: transparent;
        --docsearch-key-shadow: none;
        --docsearch-modal-background: '#F9F9F9';
        --docsearch-footer-background: '#FFFFFF';
    }
    
    .blogDocsearch .DocSearch-Button-Keys {
        display: none;
    }
    
    .blogDocsearch .DocSearch-Button-Placeholder {
        @apply text-xs hover:text-blog-c-brand-blue;
        font-weight: 500;
        padding: 0 0 0 6px;
    }
    
    .blogDocsearch .DocSearch-Search-Icon {
        @apply md:mr-1.5 md:w-3.5 md:h-3.5;
        top: 1px;
    }
}
