name: docsearch

on:
  push:
    branches:
      - main

concurrency:
  group: docsearch-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docsearch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get the content of algolia.json as config
        id: algolia_config
        run: echo "config=$(cat docsearch.config.json | jq -r tostring)" >> $GITHUB_OUTPUT

      - name: Push indices to Algolia
        uses: signcl/docsearch-scraper-action@master
        env: 
            APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
            API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
            CONFIG: ${{ steps.algolia_config.outputs.config }}