<footer
  class="left-0 right-0 flex justify-center items-center px-6 my-10 max-w-4xl mx-auto"
>
  <div
    class="flex flex-row justify-center items-center px-4 py-2 rounded-full border border-neutral-800 bg-neutral-900/90 backdrop-blur-sm"
  >
    <p class="text-neutral-400 text-sm">
      &copy; {new Date().getFullYear()} jihoon.me. All rights reserved.
    </p>
  </div>
</footer>
