---
import { navigation } from "~/navigation";
import SearchIcon from "@components/Icons/SearchIcon.astro";
import HomeIcon from "@components/Icons/HomeIcon.astro";
import PostIcon from "@components/Icons/PostIcon.astro";
import Tooltip from "@components/common/Tooltip.astro";

const currentPath = Astro.url.pathname;
---

<header
  class="fixed top-8 left-0 right-0 flex justify-between items-center px-6 max-w-4xl mx-auto"
>
  <nav class="flex space-x-3 px-2 py-2 rounded-full border border-neutral-800">
    {
      navigation.navigation.map((item, _) => {
        const isActive = currentPath === item.href;
        return (
          <Tooltip text={item.name} position="bottom">
            <a
              href={item.href}
              class={`flex items-center justify-center w-12 h-12 rounded-full transition-colors duration-200 ${
                isActive
                  ? "bg-neutral-700 text-neutral-200"
                  : "text-neutral-600 hover:bg-neutral-800 hover:text-neutral-400"
              }`}
            >
              <item.icon />
            </a>
          </Tooltip>
        );
      })
    }
  </nav>
  <div class="rounded-full border border-neutral-800 p-2">
    <a
      href="/blog"
      class="flex items-center justify-center hover:bg-neutral-800 hover:text-neutral-400 rounded-full transition-colors duration-200 text-neutral-600 w-12 h-12"
    >
      <SearchIcon />
    </a>
  </div>
</header>
